@*
    An element that shows the table of contents, composed of headings that choose to be included in the table.
*@

@namespace R5T.E0064.W001

<div>
    <R5T.E0064.W001.N001.SectionOutlet Name="table-of-contents" />
</div>