@namespace R5T.E0064.W001.Blog

@*<Microsoft.AspNetCore.Components.Web.HeadOutlet />*@
@*<R5T.E0064.W001.N001.HeadOutlet />*@
<R5T.E0064.W001.N002.HeadOutlet />

<meta name="description" content="The Description 4" />


<h3>BlogPost1</h3>
@*
<Microsoft.AspNetCore.Components.Web.HeadContent>
    <meta name="description" content="The Description 1" />
</Microsoft.AspNetCore.Components.Web.HeadContent>*@

@*<R5T.E0064.W001.N001.HeadContent>
    <meta name="description" content="The Description 2" />
</R5T.E0064.W001.N001.HeadContent>*@

<R5T.E0064.W001.N002.HeadContent>
    <meta name="description" content="The Description 3" />
</R5T.E0064.W001.N002.HeadContent>

<R5T.E0064.W001.Components.Markdown.Link DisplayText="DisplayText" Title="Title" Url="http://www.google.com" />

<R5T.E0064.W001.Components.Infrastructure.Head>
    <p>Head stuff first</p>
    <R5T.E0064.W001.Components.Infrastructure.HeadContent Value="Value01" />
@*        <p>First stuff</p>
    </R5T.E0064.W001.Components.Infrastructure.HeadContent>*@
    @*<R5T.E0064.W001.Components.Infrastructure.HeadContent Value="Value02"/>*@
@*        <p>Second stuff</p>
    </R5T.E0064.W001.Components.Infrastructure.HeadContent>*@
</R5T.E0064.W001.Components.Infrastructure.Head>

@code {

}
