@using R5T.E0064.W001.N006


@namespace R5T.E0064.W001.N005.Internal


<li>
    <a href="#@this.Node.Identity">@this.Node.Text</a>
</li>

@code {
    [Parameter]
    public TableOfContentsNode Node { get; set; }
}
